{%  extends 'accounts/base.html' %}

{% block content %}
    <h3>this is HomePAge{#{work}#}</h3>
    <br>
    {% for message in messages %}
    <p id="messages">{{message}}</p>
    {% endfor %}
    <br>
    <div class="col-md-12">

        <!-- <hr> -->
        <div class="card card-body">
            <h5>POLICIES: List</h5>
            <!-- <a class="btn btn-primary  btn-sm btn-block" href="#">Create Policy</a> -->
            <table class="table table-sm">
                <tr>
                    <th>Policy id</th>
                    <th>Name</th>
                    <th>bank</th>
                    <th>Tenure</th>
                    <th>Processing Fees</th>
                    <th>loan_amount</th>
                    {% if not request.user.is_staff %}
                    <th> {#{}#} </th>
                    {% endif %}
                </tr>
                {% for policy in policies %}
                <tr>
                    <td>{{policy.id}}</td>
                    <td>{{policy.policy_name}}</td>
                    <td>{{policy.bank}}</td>
                    <td>{{policy.Tenure}}</td>
                    <td>{{policy.Processing_Fees}}</td>
                    <td>{{policy.loan_amount}}</td>
                    {% if not request.user.is_staff %}
                    <td><a class="btn btn-sm btn-info" href="{% url 'addPolicy' pk=policy.id %}">Apply</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    </div>
    <style>
        #messages {
            background-color: grey;
            color: #fff;
            padding: 10px;
            margin-top: 10px;
        }
    </style>
{% endblock %}
