{%  extends 'accounts/base.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Customer:</h5>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
            <a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>

        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Contact Information</h5>
            <hr>
            <p>Email: {{customer.email}}</p>
            <p>Phone: {{customer.phone}}</p>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Total Orders</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>id</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Tenure</th>
                    <th>Processing_Fees</th>
                    <th>loan_amount</th>
                    <th>Score</th>
                    <th>Payments</th>
                </tr>
                {% for policy in orders %}
                <tr>
                    <td>{{policy.id}}</td>
                    <td>{{policy.policy_name}}</td>
                    <td>{{policy.bank}}</td>
                    <td>{{policy.Tenure}}</td>
                    <td>{{policy.Processing_Fees}}</td>
                    <td>{{policy.loan_amount}}</td>
                    <td>{{policy.applicant.CIBIL_score}}</td>

                    <td><a class="btn btn-sm btn-info" href="{% url 'applying_for_policy' policy.id %}">Check</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}