{#% for year in years_List %}
                    {% set item_1 = years_List[loop.index-1] %}
                    {% set item_2 = Balance_remaining_List[loop.index-1] %}
                    {% set item_3 = Total_payments_List[loop.index-1] %}
                    <tr>
                        <td>{{item_1}}</td>
                        <td>{{item_2}}</td>
                        <td>{{item_3}}</td>
                    </tr>
                {% endfor %#}
<!-- <tr>
                    <td>
                        {#% for year in years_List %}
                        {{year}}
                        {% endfor %}
                    </td>
                    <td>
                        {% for balance in Balance_remaining_List %}
                        {{balance}}
                        {% endfor %#}
                    </td>
                </tr> -->
{#% for (year,balance,total) in x %}
                <tr>
                    <td>{{year}}</td>
                    <td>{{balance}}</td>
                    <td>{{total}}</td>
                </tr>
                {% endfor %#}