{%  extends 'accounts/base.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Customer:</h5>
            <hr>
            <p>Name: {{customer.name}}</p>
            <p>Income: {{customer.income}}</p>
            <p>Email: {{customer.email}}</p>
            <p>Phone: {{customer.phone}}</p>
            <p>Total number of policies: {{order_count}}</p>
            <!-- <a class="btn btn-outline-info  btn-sm btn-block" href="">Red Customer</a>
            <a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a> -->

        </div>
    </div>

</div>

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>id</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Tenure</th>
                    <th>Processing_Fees</th>
                    <th>loan_amount</th>
                    <th>Score</th>
                    
                </tr>
                {% for policy in orders %}
                <tr>
                    <td>{{policy.id}}</td>
                    <td>{{policy.policy_name}}</td>
                    <td>{{policy.bank}}</td>
                    <td>{{policy.Tenure}}</td>
                    <td>{{policy.Processing_Fees}}</td>
                    <td>{{policy.loan_amount}}</td>
                    <td>{{policy.applicant.CIBIL_score}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}